.terminal-red-color {
    color: #ef4444;
}

.terminal-orange-color {
    color: #f97316;
}

.terminal-amber-color {
    color: #f59e0b;
}

.terminal-yellow-color {
    color: #eab308;
}

.terminal-green-color {
    color: #22c55e;
}

.terminal-lime-color {
    color: #84cc16;
}

.terminal-emerald-color {
    color: #10b981;
}

.terminal-teal-color {
    color: #14b8a6;
}

.terminal-cyan-color {
    color: #06b6d4;
}

.terminal-sky-color {
    color: #0ea5e9;
}

.terminal-blue-color {
    color: #3b82f6;
}

.terminal-indigo-color {
    color: #6366f1;
}

.terminal-violet-color {
    color: #8b5cf6;
}

.terminal-purple-color {
    color: #a855f7;
}

.terminal-fuchsia-color {
    color: #d946ef;
}

.terminal-pink-color {
    color: #ec4899;
}

.terminal-rose-color {
    color: #f43f5e;
}